/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

code {
    color: #E01A76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.subscription-list {
    list-style: none;
    margin-bottom: 10px;
    margin-left: 33%;
}

.service-status-bar {
    width: 200px;
    height: 30px;
    background-color: #29a329;
    color: white;
    padding: 6px;
    font-size: 12px;
    text-align: center;
}

.login-continer {
    margin-top: 18%;
    border-style: dashed;
    border-width: thin;
    max-width: 700px;
    padding: 10px 0 10px 0;
    border-color: #ccc;
    background-color: #f3f3f3;
}

.disable {
    cursor: not-allowed;
}
